# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a

# Codelocks files
bin/
obj/
*.depend
*.cbp
*.layout

# backup files
*~

